<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Assimp" version="3.0.0" targetFramework="Native" />
  <package id="Assimp.redist" version="3.0.0" targetFramework="Native" />
  <package id="glm" version="0.9.7.0" targetFramework="Native" />
  <package id="libpng" version="1.5.10.11" targetFramework="Native" />
  <package id="libpng.redist" version="1.5.10.11" targetFramework="Native" />
  <package id="nupengl.core" version="0.0.0.1" targetFramework="Native" />
  <package id="nupengl.core.redist" version="0.0.0.1" targetFramework="Native" />
  <package id="zlib" version="1.2.8.6" targetFramework="Native" />
  <package id="zlib.redist" version="1.2.8.7" targetFramework="Native" />
</packages>